.sign-in-sign-up-container {
    display: flex;
    background-color: pink;
    justify-content: space-around;
}

.sign-in-block-container {
 background-color: greenyellow;
 min-width: 40%;
}

.sign-up-block-container {
    background-color: blueviolet;
    min-width: 40%;
}